.lec_home_card-container01{
    width: 1600px;
    height:200px;
}
.lec_home_card-container0101{
    text-align: center;
    background-color: #3b4160;
    color: #fff;
    padding: 36px 50px 50px 50px;
    height: 169px;
}
.lec_home_card01-text{
     margin-top: 30px;
     font-size: 40px;
}

.lec_home_card-container02{
    width: 1600px;
    height:500px;
}
.lec_home_card-container0201{
    height:470px;
    text-align: center;
    background-color: #3b4160;
    color: #fff;
    padding: 36px 50px 50px 50px;

}

.lec_home_card02-text{
    font-size: 20px;
    margin-top: 130px;
}

