/* Add styles for the lecturerdashboard container */
.lec_add_ass_lecturerdashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  /* Style for the form container */
  .lec_add_ass_assignment-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  
  /* Style for text inputs and textareas */
  textarea,
  input[type='file'] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style for the file name display */
  .lec_add_ass_selected-file-name {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
    color: #007bff;
  }
  
  /* Style for buttons */
  .upload_button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .upload_button:hover {
    background-color: #0056b3;
  }
  
  /* Style for the assignment list */
  .lec_add_ass_assignment-list ul {
    list-style: none;
    padding: 0;
  }
  
  .lec_add_ass_assignment-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .lec_add_ass_assignment-list li span {
    margin-left: 10px;
  }
  
  /* Style for the view assignment section */
  .lec_add_ass_view-assignment {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .assignment-form,
    .assignment-list li,
    .view-assignment {
      width: 100%;
    }
  }
  